amqp==5.3.1
asgiref==3.11.1
async-timeout==5.0.1
billiard==3.6.4.0
celery==5.2.7
certifi==2026.1.4
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
crispy-bootstrap5==0.7
dj-database-url==3.1.2
Django==4.2
django-chartjs==2.3.0
django-cors-headers==3.14.0
django-crispy-forms==2.0
django-db-multitenant==0.3.2
django-filter==23.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.5
gunicorn==20.1.0
idna==3.11
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.6
kombu==5.6.2
MarkupSafe==3.0.3
msgpack==1.1.2
numpy==1.24.3
packaging==26.0
pandas==2.0.1
Pillow==9.5.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.6
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
redis==4.5.4
requests==2.32.5
ruamel.yaml==0.19.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.4.0
